<div class="dashboard">
    <h1>Welcome, Admin</h1>
    <h1>The Blog Platform for developers</h1>
    <p>Welcome to ChuksBlog. This is where developers meet and share ideas on different topics regarding the tech industry <br>
    Select any of the options to dive into our world.</p>

    <div class="options">
        <a href="<%= routePost %>/create">Create Post</a>
        <a href="<%= routePost %>/delete/:id">Delete Post</a>
        <a href="<%= routePost %>/update/:id">Update Post</a>
        <a href="<%= routePost %>/viewAll">View all Posts</a>
        <a href="<%= routePost %>/viewPost/:id">View Post</a>
    </div>
</div>