<div class="singlePost">
    <div class="container">
        <div class="flex-ctn">
            <div class="blog-title" style="max-width: 70%;">
                <h2> 
                    <%= post.title %>
                </h2>
                <i></i>
            </div>
            <div class="tech-stack">
                <h5> -
                    <%= post.techStack %>
                </h5>
            </div>
        </div>

        <div class="name-Date">
                <div class="name">
                    <h5> By: 
                        <%= post.AuthorName %>
                    </h5>
                </div>
                <div class="date"><span>
                        <!-- <%= post.createdAt.toDateString() %> -->
                        <%= post.createdAt ? post.createdAt.toDateString() : post.date %>
                    </span></div>
            </div>
        <div class="blog-desc">
            <p>
                <%= post.desc %>
            </p>
        </div>

        <br>
        <% if (user) { %>
            <a href="/blog/dashboard">Back &lArr;</a>
        <% } %>
    </div>
</div>